<ion-header>
  <ion-toolbar [style.--background]="temaActual.toolbarBg" [style.background]="temaActual.toolbarBg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [style.color]="temaActual.textColor" [style.font-weight]="'var(--music-font-weight-bold)'" slot="start">Home</ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content" [style.background-color]="temaActual.contentBg">
  <ion-header>
    <ion-toolbar [style.--background]="temaActual.toolbarBg" [style.background]="temaActual.toolbarBg">
      <ion-buttons slot="start">
        <ion-menu-button [style.color]="temaActual.textColor"></ion-menu-button>
      </ion-buttons>

      <ion-title [style.color]="temaActual.textColor" [style.font-weight]="'var(--music-font-weight-bold)'">
        Home
      </ion-title>

    </ion-toolbar>
  </ion-header>

  <!-- Aquí va tu ion-content con el swiper -->
  <ion-content [style.background-color]="temaActual.contentBg">
    <swiper-container pagination="true" loop="true" slides-per-view="1" autoplay="true" autoplay-delay="10000" [style.background-color]="temaActual.contentBg" [style.height]="'100%'">
      <swiper-slide *ngFor="let genre of genres">
        <div class="slide-content" [style.background-color]="temaActual.slideBackground" [style.color]="temaActual.textColor" [style.box-shadow]="temaActual.shadow">
          <h2 [style.color]="temaActual.titleColor" [style.font-weight]="'var(--music-font-weight-bold)'">{{ genre.title }}</h2>
          <img [src]="genre.image" [alt]="genre.title">
          <p [style.color]="temaActual.descriptionColor" [style.font-weight]="'var(--music-font-weight-normal)'">{{ genre.description }}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-content>
</div>

